/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}


/* LOGO and IMAGE */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;

}


/* Naviagation Bar */
#navbar{
    position: relative;
    display: flex;
    align-items: center;
}

/* Nav Bar: List Styling */
#navbar ul{
    display: flex;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}

#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}



#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 400px;
    justify-content: center;
    align-items: center;
}

#home::before{
    content: "";
    background: url('bg.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    
}

#home h1{
    color: aqua;
    text-align: center;
}

#home p1{
    color: white;
    text-align: center;
    font-size: 1.8rem;
}

/* Utility Classes */
.h-primary{
    font: 2.8rem;
    padding: 12px;
}

/* Button */
.btn{
    color: rgb(170, 145, 45);
    border: 1px solid rgb(63, 139, 174);
    border-radius: 5px;
}

.btn:hover{
    color: blue;
}