/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Naviagation Bar */
#navbar{
    display: flex;
    align-items: center;
}

/* LOGO and IMAGE */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;

}

/* Nav Bar: List Styling */
#navbar ul{
    display: flex;
}

#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}